<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Me</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
       <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> ROBOT FONT IMPORT-->
       <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>      
        <!-- <link rel="stylesheet" type="text/css" href="style.css">  -->
    </head>

    <body>
    <p> I am a Python web developer and love going to hackathons in my spare time. 
        I love making things and meeting new people! People might be surprised 
        to learn that I own a horse and used to be a horse trainer!
    </p>
</body>
</html>