<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>A Web Page</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
       <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> ROBOT FONT IMPORT-->
       <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>       -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"> 
    </head>

    <body>
    <p> My Projects: </p>
    <br><br>
    <ul class="dashed">
        <li>Danger Zones</li>
        <li>Fat Unicorn: The Poopening</li>
        <li>My Cohort</li>
        <li>Certify Me</li>
        <li>Woof Woof Go!</li>
    </ul>
</body>
</html>
